body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 20px;
}

#dog-image {
    margin: 0 auto;
    text-align: center;
    max-width: 500px;
    max-height: 500px;
    display: block;
    margin-top: 20px;
}

